.adopt-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #fcfdf7; 
  min-height: 100vh;
}

.adopt-container h1 {
  color: #3b3a7a;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 15px;
  padding: 25px;
  background-color: white;
  border-radius: 50px; 
  margin: 30px auto 50px;
  max-width: 900px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.filter-bar select {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  color: #555;
}

.pet-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px; 
  max-width: 1200px;
  margin: 0 auto;
}


.adopt-btn {
  background-color: #3b3a7a;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
}

.adopt-btn:hover {
  background-color: #2e2d61;
  box-shadow: 0 4px 12px rgba(59, 58, 122, 0.3);
}