body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f6; 
}

.page-container {
  padding: 40px 5%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}

.cta-button {
  background-image: linear-gradient(to right, #3e3d6e 0%, #140f58 50%, #04042b 100%);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 50px; 
  padding: 14px 30px;
  cursor: pointer;
  background-size: 200% auto; 
  box-shadow: 0 4px 15px 0 rgba(10, 8, 52, 0.4); 
  transition: all 0.4s ease-out;
}


.cta-button:hover {
  background-position: right center; 
  box-shadow: 0 6px 20px 0 rgba(155, 89, 182, 0.6); 
  transform: translateY(-2px);
}

.cta-button:active {
  transform: translateY(0px);
  box-shadow: 0 4px 15px 0 rgba(155, 89, 182, 0.4);
}
 
.cta-button:active {
  transform: translateY(0px);
  box-shadow: 0 4px 15px 0 rgba(27, 39, 106, 0.4);
}

.pet-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px; 
}

.signup-button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #3c26b9; 
  border: 2px solid #271c79;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 12px 28px; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-button:hover {
  background-color: #1d0f56; 
  color: white;
  box-shadow: 0 4px 15px 0 rgba(30, 13, 115, 0.4);
}

.login-button {
  display: inline-block;
  text-decoration: none;
  background-color: #f4f2f5; 
  color: #281d7d;
  border: 2px solid #1e4399;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 12px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #163578f9;
  border-color: #211c6a;
  color: rgb(255, 255, 255);
}